/*
TODO
Actually use grid-area not just let elements fall into place1
Reduce amount of CSS by combining classes
 https://htmlcolorcodes.com/
 */

main {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    /* grid-template-rows: 0.125fr 1fr 0.0625fr; */
    grid-template-rows: 0.0fr 1fr 0.0625fr;
    grid-template-areas: "head head head head" "weeksColumn topicsColumn notesColumn resourcesColumn" "footer footer footer footer";
    height: 95vh;
    width: 95vw;
}
body{
    background-color:#F8F9F9;
}

#newWeekButton, #newTopicButton, #newNotesAndIdeasButton, #newResourceButton {
    margin-left: 1em;
}

#topicsColumnTextArea, #notesColumnTextArea, #resourcesColumnTextArea {
    /*TODO should probably make the not resizeable*/
    margin-top: 0.125em;
    margin-bottom: 0.125em;
    width: 95%;
    border: 1em;
}

#logoutButton, #saveButton {
    visibility: hidden;
}

/* header {
    text: black;
} */

* {
    --header-text-alignment: center;
    --column-text-alignment: center;
    text-align: var(--header-text-alignment);
    --column-border: 2px solid black;
}
#settingsIcon{
    width:2em;
    height:2em;
}

.footer {
    grid-area: footer;
    margin-top: 5px;
    background: pink;
    border: var(--column-border);
}

.weeksColumn {
    text-align: var(--column-text-alignment);
    grid-area: weeksColumn;
    border: var(--column-border);
    /* background: #96858F; */
    /* background: #666666; */
    /* background: #778899; */
    /* background: #9A7993; */
    background: #D7CEC7;
}

#weeksColumnGrid {
    margin-top: 0.125em;
    margin-bottom: 0.25em;
    border: var(--column-border);
    /* background: lightgray; */
    display: grid;
    grid-template-columns: 1fr;
}

.topicsColumn, .notesColumn {
    border: var(--column-border);
    /* background: #6D7993; */
    background: #565656;
}

.notesColumn {
    border: var(--column-border);
    background: #76323F;
}

.resourcesColumn {
    border: var(--column-border);
    /* background: #D5D5D5; */
    background: #C09F80;
}
.selected{
    background-color:lightblue;
}
