/*

TODO
Actually use grid-area not just let elements fall into place1
Reduce amount of CSS by combining classes
 https://htmlcolorcodes.com/
 */

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
    grid-template-rows: 0.125fr 1fr ;
    grid-template-areas:"foo foo foo foo" "head head head head" "weeksColumn topicsColumn notesColumn resourcesColumn" ;
    height: 95vh;
    width: 95vw;
}
body{
    background-color:#F8F9F9;
}

.menu{
    background-color:red;
    display:inline-block;
}
#errorReporter{
    visibility: hidden;
}

#newWeekButton, #newTopicButton, #newNotesAndIdeasButton, #newResourceButton {
    margin-left: 1em;
}

#topicsColumnTextArea, #notesColumnTextArea, #resourcesColumnTextArea {
    /*TODO should probably make the not resizeable*/
    margin-bottom: 0.125em;
    width: 95%;
    border: 1em;
}

#logoutButton, #saveButton {
    visibility: hidden;
}


* {
    --header-text-alignment: center;
    --column-text-alignment: center;
    text-align: var(--header-text-alignment);
    --column-border: 2px solid black;
}


#g-signin2{
    grid-area:googleButton;
}
.coursesDropdown{
    display:inline-block;
}
.weeksColumn,.topicsColumn,.notesColumn,.resourcesColumn{
    text-align: var(--column-text-alignment);
    border: var(--column-border);
    background: #D7CEC7;
    margin-bottom: 1em;

}

#weeksColumnGrid {
    margin-top: 0.125em;
    margin-bottom: 0.25em;
    border: var(--column-border);
    display: grid;
    grid-template-columns: 1fr;
}

.topicsColumn{
    background: #565656;
}

.notesColumn {
    background: #76323F;
}

.resourcesColumn {
    background: #C09F80;
}
.selected{
    background-color:lightblue;
}

#navBar .closeNavBarButton {
    position: absolute;
    right: 10em;
    font-size:1em;
    margin-left: 5em;
}
#navBar{
    height: 100vh;
    z-index: 1;
    transition: 0.6s;
    width: 0em;
    position: fixed;
    top: 0;
    left: 0;
    background-color: slategrey;
    overflow-x: hidden;
    padding-top: 5em;
}
